.post_container {
    background-color: whitesmoke;
    padding: 8px;
    margin: 4px;
    border-radius: 7px;
}

.userInfo {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.follow {
    position: absolute;
    right: 1px;
    background-color: transparent;
    border: none;
}

.follow:hover {
    background-color: lightgray;
}

.userInfo img {
    width: 60px;
    margin: 5px 10px 5px 1px;
}

.txt_info {
    line-height: 4px;
    font-size: 13px;
    font-weight: bold;
}