.post_container {
    background-color: whitesmoke;
    padding: 8px;
    margin: 15px 5px 15px 5px;
    border-radius: 7px;
    border: 1px solid lightslategray;
}

.userInfo {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.follow {
    position: absolute;
    right: 1px;
    background-color: transparent;
    border: none;
}

.follow:hover {
    background-color: lightgray;
}

.userInfo img {
    width: 60px;
    margin: 5px 10px 5px 1px;
}

.txt_info {
    line-height: 4px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 12px;
}

.post_feture {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.post_feture button {
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 9px;
}

.post_feture button:hover {
    background-color: lightgray;
}